/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    background-color: black;
    color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

/* About section */
#about {
    margin-bottom: 40px;
    text-align: center; /* Center-align the content */
  }
  
  #about p {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f7f7f7; /* Add a light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    line-height: 1.6; /* Increase the line height for better readability */
  }
  
  #about p:first-child {
    margin-top: 0; /* Remove top margin from the first paragraph */
  }
  
  #about p:last-child {
    margin-bottom: 0; /* Remove bottom margin from the last paragraph */
  }
  
  

/* Top Destinations section */
#top-destinations {
    margin-bottom: 40px;
}

.destination {
    display: flex;
    margin-bottom: 20px;
}

.destination img {
    width: 400px;
    height: auto;
    margin-right: 20px;
}

.destination-details {
    flex-grow: 1;
}

.destination-details p {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Explore section */
#explore img {
    max-width: 50%; /* Limit the image width to its container */
    height: auto;
    margin-bottom: 20px;
    height: auto;
  }
  

/* Popular Tours section */
#popular-tours {
    margin-bottom: 40px;
}

.tour {
    display: flex;
    margin-bottom: 20px;
}

.tour img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.tour-details {
    flex-grow: 1;
}

.tour-details p {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 600px) {
    .destination,
    .tour {
        flex-direction: column;
    }

    .destination img,
    .tour img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
